body {
    background-color: rgba(0, 0, 0, 0.855);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    margin: auto;
    padding: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: orangered;
}