* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to bottom, rgb(4, 117, 8), rgb(11, 254, 7));
    color: white;
    text-align: center;
}

header > p {
    margin: 20px;
}

nav {
    text-align: left;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

footer {
    background-color: rgba(12, 123, 12, 0.804);
    color: white;
    text-align: center;
    font-style: italic;
}

span {
    font-weight: bold;
    font-style: normal;
}
