/* Configurações gerais */
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #1626a7;
    padding: 10px;
}

/* Aparelho em pé (portrait) */
@media screen and (orientation: portrait) {
    body {
        background: url('../imagens/cev-portrait.jpg') no-repeat;
        background-size: contain;
        margin: auto;
        background-position: center bottom;
        }
    }

/* Aparelho deitado (landscape) */
@media screen and (orientation: landscape) {
    body {
        background: url('../imagens/cev-landscape.jpg') no-repeat;
        background-size: contain;
        background-position: left bottom;
    }
}